html {
  font-size: 1.3rem;
}

body {
  background: #222;
  font-family: 'PT Mono', monospace;
}

h2 {
  font-family: 'PT Mono', monospace;
}

#canvas {
  position: fixed;
  width: 100vw;
  height: 100vh;
  inset: 0;
}

.notification-position {
  position: absolute;
  top: 0.8rem;
  left: 0.8rem;
  bottom: 0.8rem;
  right: 0.8rem;
  display: flex;
}
.notification-position.bottom-right {
  justify-content: flex-end;
  align-items: flex-end;
}

.message {
  background: #333;
  border: solid 3px goldenrod;
  border-radius: 4px;
  color: white;
  padding: 1rem;
  max-width: 22rem;
}
.message h2 {
  display: inline-block;
  border: solid 1px #333;
  border-radius: 2px;
  background: #333;
  font-size: 1rem;
  text-transform: uppercase;
  transform: translateY(-2.8rem) translateX(-0.6rem);
  padding: 0.4rem 0.8rem;
}
.message .action {
  margin-top: -3.2rem;
}
.message p:last-child {
  margin-bottom: 0;
}

.flex-wrap {
  flex-wrap: wrap;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
}

.sound-button {
  font-size: 1rem;
  border: solid 1px white;
  border-radius: 4px;
  background: none;
  color: white;
  margin: 0.4rem;
}

.no-margin {
  margin: 0 !important;
}