html {
  font-size: 1.3rem;
}

body {
  /* background: #222; */
  font-family: 'PT Mono', monospace;
  color: white;
}

h2 {
  font-family: 'PT Mono', monospace;
}

#canvas {
  position: fixed;
  width: 100vw;
  height: 100vh;
  inset: 0;
}

.app-layer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}
.app-layer.inset {
  top: 0.8rem;
  left: 0.8rem;
  bottom: 0.8rem;
  right: 0.8rem;
}
.app-layer.bottom-right {
  justify-content: flex-end;
  align-items: flex-end;
}
.app-layer.bottom-center {
  justify-content: flex-end;
  align-items: center;
}

.message {
  background: #333;
  border: solid 3px goldenrod;
  border-radius: 4px;
  color: white;
  padding: 1rem;
  width: 22rem;
}
.message h2 {
  display: inline-block;
  border: solid 1px #333;
  border-radius: 2px;
  background: #333;
  font-size: 1rem;
  text-transform: uppercase;
  transform: translateY(-2.8rem) translateX(-0.6rem);
  padding: 0.4rem 0.8rem;
}
.message .action {
  margin-top: -3.2rem;
}
.message p:last-child {
  margin-bottom: 0;
}

.flex-wrap {
  flex-wrap: wrap;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
}

.sound-button {
  font-size: 1rem;
  border: solid 1px white;
  border-radius: 4px;
  background: none;
  color: white;
  margin: 0.4rem;
}

.no-margin {
  margin: 0 !important;
}


.chat-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  align-self: flex-start;
  margin-left: 18.6rem;
  position: relative;
  width: 50vw;
  height: 6.2rem;
  overflow: hidden;
}
.chat-title {
  text-transform: lowercase;
  flex-shrink: 0;
  margin-right: 1rem;
}
.chat-title:after {
  content: ">";
}
.chat-messages {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.chat-message {
  color: white;
  word-wrap: break-word;
  /* word-break: break-all; */
  opacity: 0.7;
}
.chat-bot-message .chat-message {
  font-style: italic;
  color: palegoldenrod;
  opacity: 1;
}
.chat-broadcaster-message .chat-message {
  color: palegoldenrod;
  opacity: 1;
}
.chat-bot-message .chat-username {
  display: none;
}
.chat-bot-message .chat-message:before {
  content: "INFO - ";
}
.chat-broadcaster-message .chat-username {
  font-weight: bold;
}
.chat-username {
  /* font-weight: bold; */
}
.chat-username:after {
  content: ":";
}